[req]
default_bits = 2048
prompt = no
distinguished_name = req_distinguished_name
req_extensions = req_ext

[req_distinguished_name]
countryName = ar
stateOrProvinceName = cba
localityName = rc
organizationName = unrc
commonName = Client

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = client.example.com
